@model Proje.Models.addmodel

@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Layout.cshtml";
}

<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
    .cart-btn {
        background-color: #1e1f29; /* Buton arka plan rengi */
        color: #ffffff; /* Buton yazı rengi */
    }

        .cart-btn:hover {
            background-color: #282a39;
        }
</style>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6 d-flex justify-content-center align-items-center" style="margin-top: 25px;">
                
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 d-flex align-items-center" style="margin-top: 25px; margin-right: 100px;">
                <form action="@Url.Action("İletisim", "Home")" method="post" style="width: 100%;">
                    <!-- Email input -->
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form3Example1" name="City" value="@Model.City" placeholder="İl" class="form-control" />
                                <label class="form-label" for="form3Example1"></label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div data-mdb-input-init class="form-outline">
                                <input type="text" id="form3Example2" name="District" value="@Model.District" placeholder="İlçe " class="form-control" />
                                <label class="form-label" for="form3Example2"></label>
                            </div>
                        </div>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form1Example13" name="Nbhood" placeholder="Mahalle" value="@Model.Nbhood" class="form-control form-control-lg" />
                        <label class="form-label" for="form1Example13"></label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="form1Example23" name="Street" placeholder="Sokak" value="@Model.Street" class="form-control form-control-lg" />
                        <label class="form-label" for="form1Example23"></label>
                    </div>
                    <input type="hidden" name="AddressID" value="@Model.AddressID" />
                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        @*<div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>*@

                    </div>

                    <!-- Submit button -->
                    <button style="margin-top: 20px;" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block cart-btn">Oluştur</button>
                </form>

            </div>
        </div>
    </div>
</section>

